<div class="row">
  <div class= "col-sm-4"> </div>
  <div class= "col-sm-4 vertically_shift_header"> 
    <h2> Citations </h2>

    <div class="row vertically_shift_elements"> 
      <div class="col-sm-4"> 
        <b> Author </b> 
      </div>
      
      <div class="col-sm-4"> 
        <b> Title </b>
      </div>
      
      <div class="col-sm-4"> 
        <b> Year </b> 
      </div>
    </div>

    <% @citation.each do |citation| %>

      <div class="row">
        <div class="col-sm-4"> <%= citation.author %> </div>
        <div class="col-sm-4"> <%= citation.title %>  </div>
        <div class="col-sm-4"> <%= citation.year %>   </div>
      </div> 

    <% end %>

    <%= link_to('Add new citation', '/citations/new', class: "btn btn-primary vertically_shift_elements") %>

  </div>
  <div class="col-sm-4"> </div>
</div>

