<div class="row">
  <div class= "col-sm-4"> </div>
  <div class= "col-sm-4 vertically_shift_citation_form"> 

    <%= form_for(@citation) do |f| %>

      <div class="form-group">
        <%= f.label :author, "Add author/authors of publication:" %>
        <%= f.text_area :author, class: "form-control", size: "20x1" %>
        
        <p class = "error_messages"> 
          <%= @citation.errors.messages[:author][0]%> 
        </p>
      </div>

      <div class="form-group">
        <%= f.label :title, "Add title of publication:" %>
        <%= f.text_area :title, class: "form-control", size: "20x1" %>
        
        <p class = "error_messages"> 
          <%= @citation.errors.messages[:title][0]%> 
        </p>
      </div>

      <div class="form-group">
        <%= f.label :year, "Add year of publication:" %>
        <%= f.select :year, (Date.today.year-100..Date.today.year).to_a.reverse, class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "Add citation", class: "btn btn-primary" %>
      </div>

    <% end %>

  </div>

  <div class="col-sm-4"> </div>

</div>