.vertically_shift_citation_form {
  margin-top: 10%;
}

.vertically_shift_header {
  margin-top: 2%;
}

.vertically_shift_elements {
  margin-top: 5%;
  margin-bottom: 2%;
}

.error_messages {  
  color: red;
}